<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>room</title>
</head>
<body>
Имя комнаты - {{ room_name }}

<p id="lastMessage"></p>

<input type="text" id="sendMessageInput" placeholder="Отправить сообщение">

<script>

    const webSocket = new WebSocket('ws://127.0.0.1:8000/ws/rooms/');

    webSocket.onmessage = function(message) {
        let data = JSON.parse(message.data);

        document.querySelector("#lastMessage").textContent = data.message;

    }

    document.querySelector("#sendMessageInput").onkeyup = function(e) {
        if (e.keyCode === 13) {
            console.log("Отправлено")
            webSocket.send(document.querySelector("#sendMessageInput").value)
        }
    };


</script>
</body>
</html>